*{
    font-family: monospace;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        background: linear-gradient(352deg, #17c561, #4882a3);
}

.width{
    width: 50vw;
}

select{
    width: 50%;
}

.button{
    background-color: #11a7bd;
    font-size: 18px;
    border: 1px solid black;
}

.text{
    font-size: 15px;
}